<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <title>URL - TinyApp Example</title>
  </head>

  <body>
    <%- include("partials/_header", { username: username }) %>

    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= longURL %></h5>
        <p class="card-text">
          Short URL ID: <a href="/u/<%= id %>"><%= id %></a>
        </p>
        <form method="POST" action="/urls/<%= id %>">
          <input
            type="text"
            name="longURL"
            value="<%= longURL %>"
            class="form-control"
            style="width: 300px; display: inline-block;"
          />
          <button type="submit" class="btn btn-primary">Update</button>
        </form>

        <a href="/urls/new" class="btn btn-link mt-3">Create New URL</a>
      </div>
      <div class="card-footer text-muted"></div>
    </div>
  </body>
</html>
